html, body{
padding: 0;
margin: 0;
} 

body{
    background: #272343;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz{
    background: #e3f6f5;
    width: 30rem;
    padding: 4rem;
    text-align: center;

}

h1{
    color: #57636e;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#question{
    font-size: 1.7rem;
    color: #5a6772;

}

.button{
    background-color: #34a3a3;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.button:hover{
    cursor: pointer;
    background: #57636e;
}

#progress{
    font-size: 20px;
}
